.table-report-drawer {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-report {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-report__wrapper {
    display: flex;
    justify-content: space-between;
}

.filter-report button {
    display: flex;
    justify-content: center;
}

.filter-report .sumbit {
    display: flex;
    justify-content: end;
}

.filter-report__select {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px !important;
}

.sort-report__wrapper {
    display: flex;
    gap: 10px;
}
.table-report__table table th,
.table-report__table table td {
    text-align: center;
}
