.app-footer-body {
    height: 0;
    bottom: 0;
    display: none;
}

.app-footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.app-footer-root {
    height: 100%;
    padding-top: unset;
    box-shadow: unset;
}

.app-footer-root .fr-container {
    margin: unset;
    max-width: unset;
}
.app-footer-root .fr-footer__bottom {
    box-shadow: unset;
    margin: unset;
}

.app-footer-root .fr-footer__bottom ul {
    padding: 2px 0px;
    flex: 1;
}

.app-footer-close {
    float: right;
    margin: 10px;
}

.app-footer-root .fr-footer__bottom-copy,
.app-footer-root .fr-footer__bottom-copy p {
    margin: 0;
}

.app-footer-extended {
    position: absolute;
    bottom: 0;
    background-color: var(--text-inverted-grey);
    width: 100%;
    z-index: 999;
}
