.contribution-list-modal {
    display: block;
    height: 0;
    top: 7.4rem;
    left: 0.5rem;
    background: unset;
    border-radius: 0.3rem;
}

.contribution-list-modal .fr-container {
    margin: 0;
    position: absolute;
    right: 0;
}

.contribution-list-modal .fr-container > div {
    justify-content: flex-end;
}

.contribution-list-modal .content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contribution-list-modal .line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--border-default-grey);
}

.contribution-list-modal .line:first-child {
    flex: content;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.contribution-list-modal .line .fr-checkbox-group {
    min-height: 1.5rem;
}

.contribution-list-modal .line button:first-child {
    flex: 2;
}
