.grid-map-container {
    position: relative;
    height: 100%;
    min-height: 0;
}

.map-view {
    width: 100%;
    /* Heigth minus footer (2.5rem) minus header (3.5rem)*/
    height: calc(100vh - 6rem) !important;
}

.canvas {
    width: 100%;
    height: 100%;
}

/* Centrage de la barre de recherche avec marge horizontales auto et largeur fixe */
div[id^="GPsearchEngine-Advanced-"] {
    position: relative;
    width: 480px;
    margin: 0 auto;
    left: 40%;
}

/* pas de scrollbar sur les panneaux de recherche avancée */
form[id^="GPadvancedSearchForm"],
form[id^="GPcoordinateSearchForm"] {
    max-height: unset;
}

/* MODE MOBILE : les boutons sont en dessous de la barre de recherche qui prend toute la largeur */
@media (max-width: 576px) {
    div[id^="GPsearchEngine-"] {
        top: unset;
        left: unset;
        width: 100%;
    }

    [id^="GPautocompleteResults-"] {
        height: 70vh;
    }
}

.ol-overviewmap .ol-overviewmap-map {
    border-radius: 4px;
    width: 104px !important;
    height: 104px !important;
}
