.map-toolbar-bottom-select {
    position: absolute;
    right: 56px;
    top: 4.1rem;
    height: 40px;
    display: flex;
    background-color: var(--background-action-high-blue-france);
    border-radius: 5px 0px 0px 5px;
}

.map-toolbar-bottom-select label {
    width: 100%;
    font-weight: bold;
    flex: 1;
}

.map-toolbar-bottom-select select {
    margin-top: 0px !important;
    flex: 1;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    width: 100%;
    box-shadow: unset;
    background-image: unset;
    padding: 4px 4px 4px 8px;
    z-index: 1;
}

.map-toolbar-bottom-select select:hover {
    background-color: var(--background-default-grey);
    color: var(--text-mention-grey);
}

.map-toolbar-bottom-select .separator {
    margin: 4px;
    width: 2px;
    background-color: var(--background-default-grey);
}

.map-toolbar-bottom-select .fr-select-group {
    margin-bottom: unset;
}
