.table-report-drawer {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.table-report-searchFilter {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.filter-report {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-report__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.filter-report__wrapper > div {
    width: 100%;
}

.filter-report button {
    display: flex;
    justify-content: center;
}

.filter-report .sumbit {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.filter-report__select {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px !important;
}

.sort-report__wrapper {
    display: flex;
    gap: 10px;
}

.table-report__table table th,
.table-report__table table td {
    text-align: center;
    justify-items: center;
    color: var(--grey-200-850);
}

.table-report__table table thead td:first-child,
.table-report__table table thead th:first-child {
    width: 100px;
}

.table-report__sort {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey-200-850);
}

.report-subTitle {
    margin-bottom: 0.5rem;
}

.report-subTitle,
.report-textResult {
    font-weight: bold;
}

.report-infos-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.report-nbrSelectedLines {
    color: var(--grey-425-625);
}

.report-footer {
    display: flex;
    justify-content: space-between;
}

.theme-radio {
    padding: 4px !important;
}
.theme-radio label {
    padding: 0.125rem 0.5rem !important;
    border-radius: 0.75rem;
    cursor: pointer;
    color: var(--text-action-high-purple-glycine);
    background-color: var(--background-action-low-purple-glycine);
    background-image: unset !important;
    font-size: 0.75rem;
    transition:
        background 0.3s,
        border-color 0.3s;
}

.theme-radio:focus-within input[type="radio"]:checked + label {
    outline: 2px solid #0a76f6 !important;
}

.theme-radio input[type="radio"]:checked + label:after {
    color: #f767ef;
    width: 0.75rem;
    height: 0.75rem;
    right: 2px;
    top: 5px;
    background-color: currentColor;
    content: " ";
    display: inline-block;
    flex: 0 0 auto;
    margin: -0.5rem;
    mask-size: 100% 100%;
    position: absolute;
    vertical-align: calc(-0.125rem);
    mask-image: url(../../icons/checkbox-circle-line.svg);
}

.theme-radio input[type="radio"]:checked + label {
    background-color: #f767ef !important;
    color: #fff !important;
}

.theme-radio .fr-radio-group {
    margin-right: 10px !important;
}

.upload-file input {
    width: 100%;
}

.report-drawer {
    width: 588px;
    padding: 10px 16px;
}

.report-drawer .note {
    margin-top: 24px;
}

.report-drawer .submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.report-drawer .submit button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.report-drawer .buttons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.report-drawer .buttons button {
    width: 100%;
    justify-content: center;
}

.report-attachments div {
    display: flex;
    width: 100%;
    gap: 10px;
    border-top: 1px solid #d9d9d9;
    align-items: center;
    padding: 10px 0 6px;
}

.report-attachments div:first-child {
    border-top: 0px;
}

.report-attachments img {
    max-width: 32px;
    border-radius: 100%;
    border: 1px solid #000;
    margin-right: 10px;
    -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.report-attachments p {
    margin: unset !important;
}

.report-attachments a {
    width: 100% !important;
    background: none;
}

.report-theme-form {
    border: 1px solid var(--border-default-grey);
    padding: 15px;
    margin-bottom: 1.5rem !important;
}

.custom-button-top-right {
    position: absolute;
    right: 16px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.report-tools div {
    display: flex;
    gap: 13px;
}

.report-features {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.report-features > div {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--border-default-grey);
    padding: 5px 10px;
    cursor: pointer;
}

.report-features .sketch {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.report-features span {
    width: 100%;
    margin-left: 10px;
}

.outOfRange .GPlayerName {
    color: #aaa;
}

.active {
    background-color: var(--hover-tint) !important;
}

button[id^="GPshowLayersListPicto-"] {
    border-radius: 0px 4px 4px 0px !important;
}

button[id^="GPshowLayersListPicto-"]:hover,
button[id^="GPshowLayersListPicto-"][aria-pressed="true"] {
    border-radius: 4px !important;
}

button[id^="GPshowDrawingPicto-"] {
    border-radius: 4px !important;
}

button[id^="GPshowDrawingPicto-"]::after {
    mask: url("../../icons/map-pin-add.svg") center no-repeat;
}

button[id^="drawing-tool-import-"]::after {
    mask: url("../../img/reports/import-file.svg") center no-repeat;
}

#position-container-top-right {
    gap: 8px;
}
