.report-filter__container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 16px;
    list-style: none;
}

.report-filter__item--no-underline {
    background-image: none;
}

.report-filter__container > li {
    padding: 0;
}

.report-filter__container > li > a {
    text-transform: capitalize;
}
